<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>课程列表</title>
</head>
<body>
<table>
	<tr>
		<td>id</td>
		<td>name</td>
		<td>course_id</td>
		<td>create_time</td>
		<td>操作</td>
	</tr>
	<?php foreach ($lists as $value) { ?>
	<tr>
		<td><?php echo $value['id'];?></td>
		<td><?php echo $value['name'];?></td>
		<td><?php echo $value['course_id'];?></td>
		<td><?php echo $value['create_time'];?></td>
		<td><a href="{:U('admin/chapter/edit',array('id'=>$value['id']))}">修改</a></td>
		<td><a href="{:U('admin/chapter/delete',array('id'=>$value['id']))}">删除</td>
	</tr>
	<?php } ?>	
</table>
<div class="page">				
<?php for($i=0;$i<$allPageNum;$i++) { ?>
<a href="{:U('admin/chapter/lists',array('page'=>$i+1))}"><?php echo $i+1;?></a>
<?php } ?>				
</div>
<a href="{:U('admin/chapter/add')}">新增</a>
</body>
</html>