html,body,p,ul,li{
	margin:0;
	padding:0;
	font-size: 62.5%;
}
i{
	color:#6b47d7;
}
.clearfix{
	height:0;
	clear:both;
	content:"";
	display: block;
}
.app_p{
	font-size:1.5rem;
	height:3rem;
	line-height: 3rem;
	text-align: center;
}
.App_p{
	font-size: 2rem;
	height:10rem;
	line-height: 8rem;
	background:#c4b5f4;
	color:#fff;
	text-align: center;
}
.sign{
	padding-left: 9rem;
	position: relative;
	height:7rem;
	margin-top: 1rem;
}
.sign>img{
	display: inline-block;
	width:6rem;
	height:6rem;
	position: absolute;
	left:1rem;
}
.sign p{
	font-size: 1rem;
	color:#000;
}
.sign p:nth-child(3){
	position: absolute;
	bottom:0.7rem;
}
.sign_p span:nth-child(2){
	margin-left: 1rem;
}
.sign_p span img{
	vertical-align: -0.2rem;
}
.bottom{
	background-color: #fff;
	position: fixed;
	bottom:0rem;
	width:100%;
	height:4rem;
	border-top:1px solid #ccc;
	padding-top: 0.7rem;
}
.bottom_div{
	width:33.3%;
}
.bottom_div img{
	display: block;
	margin:0 auto;
}
.bottom_div p{
	text-align: center;
}
.bottom>div{
	float: left;
}
.color{
	color:#6b47d7;
}
.center_ul{
	list-style: none;
	width:300%;
	height:10rem;
}
.center_ul li{
	float: left;
	width:33.3%;
	height:10rem;
}
.center_ul li img{
	display: inline-block;
	width:100%;
	height:10rem;
}